{% extends "students/base.html" %}

{% block title %}
    Delete Student
{% endblock %}

{% block page_title %}
    Delete Student
{% endblock %}

{% block content %}

<div class="page-header">
    <h2>Delete Student</h2>
</div>

<div class="confirmation-card">

    <h2>⚠️ Delete Student?</h2>

    <p>
        Are you sure you want to delete
        <strong>{{ student.name }}</strong>?
    </p>

    <form method="POST">

        {% csrf_token %}

        <div class="confirmation-actions">

            <button type="submit" class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="{% url 'student_list' %}" class="btn btn-secondary">
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}